<!DOCTYPE html>
<html lang="en">
<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Book Title" class="form-control" ></input>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" placeholder="Author" class="form-control" ></input>
    </div>
    <div class="form-group">
        <label for="fSent">First Sentence:</label>
        <input type="text" name="fSent" placeholder="First Sentence" class="form-control" ></input>
    </div>
    <div class="form-group">
        <label for="published">Published</label>
        <input type="text" name="published" placeholder="Published" class="form-control" ></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>